Package: yourproject
Version: 1.0-0
Section: base
Priority: optional
Architecture: any
Depends: supervisor
Maintainer: Chasen Johnson <thechasenjohnson@gmail.com>
Description: your software description here...
